<div class="menu-container">
  <div class="menu-top">
    <%= image_tag "menu.jpg", :id => "menu-icon" %>
    <h1 class="title">Menu</h1>
  </div>
  <ul id="menu">
    <li><%= link_to "Home", :root %></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>