<div id="contact-wrapper">
	<div id="banner-image">
		<h1>CONTACT</h1>
	</div>

	<div class="contact-content">
		<h4>Little Lotus</h4></br>
		<p>4103 SE Boise St.</p>
		<p>Portland, OR 97202</p></br>
		<p>Tel: &nbsp;&nbsp;503.734.9154</p>
		<p>Email: &nbsp;&nbsp;<a href="mailto:littlelotuspdx@gmail.com">littlelotuspdx@gmail.com</a></p></br>
		<hr class="style-two"></hr>
	</div>

	<div id="map">
		<iframe
		  width="100%"
		  height="450"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD4JqLU7tVBFRLvVoP89y7dSCayx7lmk7c
		    &q=4103 SE Boise St. Portland, OR 97202">
		</iframe>
	</div>
</div>