<div class="page-content">

	<div class="left-pane">
		<%= image_tag ("baby1.jpg"), :class => "pic", :id => "pic6" %>
		<%= image_tag ("baby2.jpg"), :class => "pic", :id => "pic7" %>
	</div>


	<div class="page-text">
		<div class="above-break">
			<h3 id="title-text">For Parents</h3></br>
			<div id="dropdown">
				<%= render "menu" %>
			</div>
		</div>
		<hr class="style-seven"></hr>
		
		<h2>Tuition</h2>
		
		<p>Because of the limited number of spaces in our program, and to provide continuity for our younger members, we only accept full time applications.  THERE ARE CURRENTLY TWO VACANCIES IN OUR PROGRAM.</p>

    <p>Our monthly tuition is $1250 per child.  Children must be under two years old at the time of admission.</p>

		<h2>FAQ</h2>

		<h3>1. Hours.</h3>  

    <p>Our doors are open 8:00 a.m. until 6:00 p.m.</p>   

    <h3>2. Late Policy.</h3>  

    <p>Past pickup time, parents will be charged $15 per 15 minutes.</p>

    <h3>3. Meals.</h3> 

    <p>We provide two healthy snacks and lunch for our children who are on solid food.  For infants that are being introduced to solid food, we make fresh food at each meal or snack time.  Children are introduced to the kitchen and encouraged to participate as early as possible.</br></br>We provide accommodations for the storage of breast milk.  We do not supply formula.</p> 

    <h3>4. Tours.</h3> 

    <p>If you would like to meet us and see our space, please contact Laurel at 

    </br></br><a href="mailto:littlelotusPDX@gmail.com"> littlelotusPDX@gmail.com</a></p>

    <h3>5. Buddhism.</h3>

    <p>The tenets of Buddhism are not taught directly.  However, we believe that learning select values from Buddhism are of benefit.  We emphasize skillful speech, skillful effort, compassion, concentration, non-harming, joy, and mindfulness.  We are happy to talk in depth with you about how each of these values will be explored with your children and how each is of benefit in our program.</p>
	</div>
</div>