<div class="page-content">

	<div class="left-pane">
		<%= image_tag ("baby1.jpg"), :class => "pic", :id => "pic6" %>
		<%= image_tag ("baby2.jpg"), :class => "pic", :id => "pic7" %>
	</div>


	<div class="page-text">
		<div class="above-break">
			<h3 id="title-text">About Us</h3></br>
			<div id="dropdown">
				<%= render "menu" %>
			</div>
		</div>
		<hr class="style-seven"></hr>
		
		<%= image_tag ("laurel.jpg"), :id => "laurel-pic" %>

		<div class="about-us-text">
			<p>Laurel has a wealth of experience and education that she uses to provide an engaging and enriching environment for your children.  She has been involved in childcare for the much of the last fifteen years.  She has worked with children of all ages but has a particular skill with very young children.</p> 

			<p>Laurel has a degree in Political Science and in 2008 she attended the University of Minnesota Law School where her primary focus was Reproductive Rights and Family Law.  After passing the Oregon Bar, Laurel practiced Family Law.  Since 2013, Laurel has been engaged with a number of non-profits in a variety of capacities, including helping to establish curriculum for a Buddhist children’s program, engaging in fundraising, and working with volunteers of all ages.</p>

			<p>In starting Little Lotus, Laurel is returning to her roots and to her greatest joy: working directly with children to provide them with exceptional care.</p>
		</div>
	</div>
</div>
