<div class="page-content">
	<div class="left-pane">
		<%= image_tag ("baby1.jpg"), :class => "pic", :id => "pic6" %>
		<%= image_tag ("baby2.jpg"), :class => "pic", :id => "pic7" %>
	</div>

	<div class="page-text">
		<h1>PHILOSOPHY</h1></br>
		
		<h4>CURRICULUM</h4></br>
		
		<p class="quote">“[C]hildren [are] unique subjects with rights rather than simply needs.  They have potential, plasticity, the desire to grow, curiosity, the ability to be amazed, and the desire to relate to other people and to communicate.“</p></br>

		<p>Each moment is an opportunity for learning, growth, and exploration.  The daily routine at Little Lotus offers time for individual exploration, as well as focused time where relationship and life skills are practiced and a love of learning is cultivated.  In our lessons, we emphasize a love of living things, creative problem solving, and self advocacy.</p></br>

		<h4>RELATIONSHIPS</h4></br>

		<p class="quote">“Learners and teachers should not stand on opposite banks and just watch the river flow by; instead, they should embark together on a journey down the water.”</p></br>

		<p>The relationship between the caretaker and the children at Little Lotus is one of mutual respect and care.  The caretaker’s teaching role is to cultivate curiosity and provide opportunities for that curiosity to result in an educational experience for the child.  And as the children learn, the caretaker will be learning along with them.   Each day will be embarked on with an attitude of enthusiasm for what the day will bring to us.</p></br>
		
		<p>In addition, the caretaker has an important social role.  The teacher models how to develop and engage in relationship with others.</p></br>
		
		<h4>ENIVRONMENT</h4></br>

		<p class="quote">“The wider the range of possibilities we offer children, the more intense will be their motivations and the richer their experiences.”</p></br>

		<p>Our rooms are designed to encourage exploration.  As the children encounter new situations and objects, we provide guidance to help them understand how they impact their environment and their environment impacts them.  Both successes and failures are encouraged – often a lesson is learned through seeing how something should not be done.  Struggling to achieve a solution and self correction are encouraged.  Resilience and perseverance are qualities every great learner possesses and though these qualities can be hard-earned, learning about right effort in our endeavors is worth it.</p></br>

		<p>Similarly, the children will be asked to explore their own feelings about their successes and failures, rather than being given praise for each endeavor.  As they grow they will develop an inner compass that will allow them to understand their own interests and expectations.  We strive to provide your child with an environment that fosters their natural curiosity and allows them to discover and explore through touch, movement, observation, and experimentation.</p></br>  

		<h4>COMMUNICATION</h4></br>

		<p class="quote">“A child has a hundred languages.”</p></br>

		<p>Even before speaking begins, children communicate with us in a myriad of ways.   At Little Lotus we make it a practice to listen, even to the youngest child, to really hear from them what they have to tell us about how they are experiencing the world.  What we hear from them helps direct the daily activities and lessons.  By modeling active listening, compassionate concern, and kind speech, we teach our children that speaking doesn’t need to be loud to be powerful and that violence in speech can be as harmful as a physical blow.  As we speak to your children, and as they learn to speak to us, we speak from a kind heart so that they can learn to do the same.</p>
	</div>
</div>